.primary {
    background-color: rgba(245, 160, 23, 0.919);
}

:root {
    --orange: rgb(255, 115, 0);
    --white: #ffffff;
    --height1: 300px;
}


.btn-orange {
    color: var(--white);
    background: var(--orange);
}
